# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# backend
meety-backend/node_modules
meety-backend/.env
meety-backend/uploads/*
!meety-backend/uploads/.gitkeep

# IDE
.vscode
.idea
